.slider {
  width: 100%;
  max-width: 1700px;
  min-width: 400px;
  min-height: 450px;
}
.slide {
    display: block;
    width: 450px;
    height: 450px;
    object-fit: cover;
    border: 1px solid #3300ff67;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 8px -1px #3300ff67;
    z-index: 55;
  }
